<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Все кандидаты</h1>
<p><a href="/candidate/1">{{ candidates[0] }}</a></p>
<p><a href="/candidate/2">{{ candidates[1] }}</a></p>
<p><a href="/candidate/3">{{ candidates[2] }}</a></p>
<p><a href="/candidate/4">{{ candidates[3] }}</a></p>
<p><a href="/candidate/5">{{ candidates[4] }}</a></p>
<p><a href="/candidate/6">{{ candidates[5] }}</a></p>
<p><a href="/candidate/7">{{ candidates[6] }}</a></p>
<p><a href="/candidate/8">{{ candidates[7] }}</a></p>
</body>
</html>